.animated-background {
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);
    background-size: 200% 100%;
    animation: gradientAnimation 3s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }