<main>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3 class="text-center">Edit contact</h3>
            <form>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Prénom</label>
                        <input formControlName="firstName" class="form-control" placeholder="First Name">
                        <div class="text-danger">
                            Prénom est requis.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Nom :</label>
                        <input formControlName="lastName" class="form-control" placeholder="Hamami">
                        <div class="text-danger">
                            Nom est requis.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="phone" class="form-label">Téléphone :</label>
                        <input formControlName="phone" class="form-control" placeholder="98000000">
                        <div class="text-danger">
                            Téléphone est requis.
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                        <input formControlName="email" class="form-control" placeholder="you@example.com">
                        <div class="text-danger">
                            Email est requis et doit être une adresse email valide.
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="description" class="form-label">Description</label>
                        <input formControlName="description" class="form-control" placeholder="Description">
                        <div class="text-danger">
                            Description est requis.
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="country" class="form-label">Type</label>
                        <select formControlName="type" class="form-select">
                            <option value="">--Please choose an option--</option>
                            <option value="Friend">Ami</option>
                            <option value="Work">Travail</option>
                            <option value="Family">Famille</option>
                        </select>
                        <div class="text-danger">
                            Type est requis.
                        </div>
                    </div>
                    <hr class="my-4">
                    <button class="w-30 btn btn-primary btn-lg" type="submit" style="max-width:500px;">Edit</button>

                    <button class="w-30 btn btn-primary btn-lg" type="button" style="max-width:500px;"
                        (click)="onCancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</main>